.body {
    height: 100%;
}

.menu-up {
    height: 80px;
    background-color: #a94442;
    color: #fff;
}

.img-menu {
    float: left;
    width: 5%;
    margin-top: 15px;
    margin-left: 5%;
    cursor: default;
}

.title-menu {
    float: left;
    width: 15%;
    font-weight: 700;
    color: #FFF;
    margin-right: 3%;
    cursor: default;
}

.menu {
    float: left;
    width: 15%;
    padding-top: 25px;
    color: #FFF !important;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

.menu:hover {
    width: 15%;
    height: 100%;
    color: black !important;
}

.center-body {
    width: 80%;
    min-height: 85%;
    margin-left: 10%;
    background-color: #FFF;
    color: #000;
}

.page-footer {
    height: auto;
    background-color: #209cee;
    div {
        color: #FFF;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        padding: 15px 0px 20px 0px;
    }
}