<div class="col-md-12 body">
  <header class="row menu-up no-padding">
    <div class="img-menu">
      <img src="../assets/img/logo.png" title="Neppo" width="50" height="50" />
    </div>
    <div class="title-menu">
      <h1>Neppo</h1>
    </div>
    <a routerLink="/person">
      <nav class="menu">
        Início
      </nav>
    </a>
    <a routerLink="/person/create">
      <nav class="menu">
        Cadastrar
      </nav>
    </a>
    <a routerLink="/person/graph">
      <nav class="menu">
        Relatório
      </nav>
    </a>
  </header>
  <section class="row center-body">
    <router-outlet></router-outlet>
  </section>

  <footer class="row page-footer">
  </footer>
</div>