<div class="page-header">
  <h3>Início</h3>
</div>
<div class="container col-md-12">
  <div class="panel panel-default" [hidden]="hideList">
    <div class="panel-heading">Lista de pessoas</div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Cpf</th>
          <th>Sexo</th>
          <th>Endereço</th>
          <th>Data de nascimento</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of listPessoa">
          <td>{{person.id}}</td>
          <td>{{person.nome}}</td>
          <td>{{person.cpf}}</td>
          <td>{{person.sexo_id | genderSubstr}}</td>
          <td>{{person.endereco}}</td>
          <td>{{person.dataNascimento | date: 'dd/MM/yyyy'}}</td>
          <td>
            <a [routerLink]="['/person/edit', person.id]" title="Alterar">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a [routerLink]="['/person/remove', person.id]" title="Excluir">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>