<div class="page-header">
  <h3>Excluir Pessoa</h3>
</div>

<div class="container col-md-12">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nome <span class="red">(*)</span></label>
        <input type="text" [(ngModel)]="person.nome" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="nome"
          disabled>
      </div>
      <div class="form-group col-md-6">
        <label>Cpf<span class="red">(*)</span></label>
        <input type="text" [(ngModel)]="person.cpf" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Cpf"
          disabled>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Gênero <span class="red">(*)</span></label>
        <select class="form-control" [(ngModel)]="person.sexo_id" [ngModelOptions]="{standalone: true}" disabled>
                <option value="1">Masculino</option>
                <option value="2">Feminino</option>
            </select>
      </div>
      <div class="form-group col-md-6">
        <label>Data de nascimento <span class="red">(*)</span></label>
        <input type="text" [(ngModel)]="person.dataNascimento" [ngModelOptions]="{standalone: true}" class="form-control" disabled>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Endereço <span class="red">(*)</span></label>
        <input type="text" [(ngModel)]="person.endereco" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Endereço"
          disabled>
      </div>
    </div>
    <div class="form-group col-md-12">
      <button type="button" (click)="remove()" class="btn btn-danger">Exluir</button>
      <a routerLink="/person">
          <button type="button" class="btn btn-warning">Voltar</button>
        </a>
    </div>
  </form>
</div>