.panel-default  {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.chart-align {
    right: 50%;
    transform: translate(15%, 50%);
 }

 .bar-chart-align {
    right: 50%;
    transform: translate(15%, 0%);
 }