<div class="page-header">
    <h3>Relatório de Pessoas</h3>
</div>

<div class="container col-md-12">
    <div class="panel panel-default col-md-12">
        <div class="panel-heading">Gráfico de gênero</div>
        <div class="chart-align">
            <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single[0]" [legend]="showLegend" [explodeSlices]="explodeSlices"
                [labels]="showLabels" [doughnut]="doughnut">
            </ngx-charts-pie-chart>
        </div>
    </div>

    <div class="panel panel-default col-md-12">
        <div class="panel-heading col-md-12">Gráfico de faixa etária</div>
        <div class="bar-chart-align">
            <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single[1]" [legend]="showLegend">
            </ngx-charts-bar-vertical>
        </div>
    </div>
</div>