@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import "~ngx-toastr/toastr";

html, body {
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
}

a, a:hover, a:focus {
    color: unset !important;
    text-decoration: none;
}

::ng-deep { 
    .no-padding {
    padding: 0 !important;
    margin: 0 !important;
 }
}

.page-header {
    margin: 15px 0 20px 20px;
}

.panel-heading {
    font-size: 22px;
}

table th {
    text-align: center !important;
    font-size: 16px !important;
}

table td {
    text-align: center !important;
    font-size: 14px !important;
}

form {
    font-size: 16px !important;
}

input {
    font-size: 14px !important;
}

select {
    font-size: 14px !important;
}

.fa {
    padding-right: 3px;
}

.red {
    color: red;
    font-weight: 500;
}

.chart-legend .legend-label-text {
    width: 100% !important;
}