<div class="page-header">
  <h3>Atualizar Pessoa</h3>
</div>

<div class="container col-md-12">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="{'has-error': !name.valid && (name.dirty || name.touched)}">
        <label class="control-label">Nome <span class="red">(*)</span></label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="person.nome" [ngModelOptions]="{standalone: true}" class="form-control"
          placeholder="nome" required>
      </div>
      <div class="form-group col-md-6" [ngClass]="{'has-error': !dcto.valid && (dcto.dirty || dcto.touched)}">
        <label class="control-label">Cpf <span class="red">(*)</span></label>
        <input type="text" name="dcto" #dcto="ngModel" [(ngModel)]="person.cpf" [ngModelOptions]="{standalone: true}"
          class="form-control" placeholder="Cpf" required>
      </div>
    </div>
    <hr>
    <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="{'has-error': !gender.valid && (gender.dirty || gender.touched)}">
        <label class="control-label">Gênero <span class="red">(*)</span></label>
        <select class="form-control" name="gender" #gender="ngModel" [(ngModel)]="person.sexo_id" [ngModelOptions]="{standalone: true}"
          required>
                  <option value="1">Masculino</option>
                  <option value="2">Feminino</option>
              </select>
      </div>
      <div class="form-group col-md-6" [ngClass]="{'has-error': !birth.valid && (birth.dirty || birth.touched)}">
        <label class="control-label">Data de nascimento <span class="red">(*)</span></label>
        <input type="date" #birth="ngModel" name="birth" [(ngModel)]="person.dataNascimento" [ngModelOptions]="{standalone: true}" class="form-control"
          required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12" [ngClass]="{'has-error': !address.valid && (address.dirty || address.touched)}">
        <label class="control-label">Endereço <span class="red">(*)</span></label>
        <input type="text" #address="ngModel" name="address" [(ngModel)]="person.endereco" [ngModelOptions]="{standalone: true}" class="form-control"
          placeholder="Endereço" required>
      </div>
    </div>
    <div class="form-group col-md-12">
      <button type="button" (click)="validateForm()" class="btn btn-info">Atualizar</button>
      <a routerLink="/person">
          <button type="button" class="btn btn-danger">Voltar</button>
        </a>
    </div>
  </form>
</div>